body {
    /* background-color: #A9A9A9; */
    margin-left: 10px;
    background-image: url("bookshelf.jpg");
}

.bg-blue-book {
     background-image: url("book-blue.png");
}

.footer-center {
  color: white;
  font-weight: bold;
  text-align: center;
}

.imageBorder {
    border: 5px solid black;
}

.jumbotron {
    margin-top: 10px;
}
.mainTitle {
    margin-top: 0;
    margin-bottom: 2vw;
}



.textbackground {
    background-color: azure;
    border-radius: 10px;
}

.titleheader {
    color:white;
    text-align: center;
}

.over {
    position: relative;
    margin-left: 3vw;
    color: azure;
    text-align: center;
}

.over-b {
    position: relative;
    margin-left: 3vw;
    color: black;
    text-align: center;
}

.textover {
    position: relative;
    color: azure;
    margin-top: 9vw;
    margin-left: 3vw;
}

.textover-b {
    position: relative;
    color:black;
    margin-top: 9vw;
    margin-left: 3vw;
}

.textover-m {
    position: relative;
    color:black;
    margin-top: 5vw;
    margin-left: 3vw;
    margin-right: 5vw;
}

.under {
    position:absolute;
}

.vspace {
    margin-top: 2vh;
}
